/.ipynb_checkpoints
/CLARITY.env

**/.env

**/.ipynb_checkpoints/
**/__pycache__/

/Dataset

/Project/models
/Project/others

**/results/

**/outputs/

**/saved_model/

**/outputs_resnet/
**/outputs_best_model/